h1 {
    color: red;
    font-size: 50px;
}
p {
    font-size: 20px;
}
ul {
    color: green;
    font-size: 20px;
}
hr {
    border-color: red;
}
ol,
a {
    color: purple;
}
a {
    font-size: 20px;
}
q {
    color: green;
}