h1 {
    color: white;
    background-color: blue;
}
ul {
    color: green;
    background-color: yellow;
}
hr {
    border-color: blue;
}
ol,
a {
    color: purple;
    background-color: yellow;
}
q {
    color: white;
    background-color: blue;
}
