
body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: red;
    font-weight: 900;
}
ul {
    color: green;
}
hr {
    border-color: red;
}
ol,
a {
    color: purple;
}
q {
    color: red;
}
